html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}


/*Nav Bar & Footer*/

nav a {
    position: relative;
    color: black;
    padding: 30px 10px;
    height: 60px;
    line-height: 0px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 900;
    font-size: 1.1em;
    float: left;
    clear: none;
    vertical-align: bottom;
    background-color: none ;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease ;
    -o-transition: all 1s ease ;
    transition: all 1s ease ;
    
    
}

nav a:hover {
    color: #2f599b;   
    
}
/*
nav a:active {
    color: #2f599b;

}*/
.logo {
    vertical-align:text-top;
    padding-top: 15px;
    
    
}

footer {
    background-color: white;
    bottom: 0px;
    /*left: 235px;*/
    /*padding-top: 20px;*/
    position: fixed;
    background-position: center;
    width: 100%;
    height: 60px;
    display: inline-block;
}

.footer {
    color: black;
    background-color: white;
    padding: 0px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 700;
    float: right;
    /*left: 30%;*/
   /* vertical-align: bottom;*/
    display: inline;
    /*bottom: 50px;*/
    list-style-image: none;
    /*position: relative;*/
}

.footer a:link,
a:visited {
    color: black;
    text-decoration: none;
    background-color: white ;
    padding: 20px;
    height: 100%;
    -webkit-transition: all 0.5s ease ;
    -moz-transition: all 0.5s ease ;
    -o-transition: all 0.5s ease ;
    transition: all 0.5s ease ;
}

.footer a:hover {
    color: #ffffff;
    background-color: #2f599b;
    text-decoration: none;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    
}

/*Background image info*/



#blog {
    background-image: url(images/buffalo.jpg);
    background-size: 100%;
    background-position:center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
}

/*Titles & Headings*/

posttitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    
}
subheading {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1em;
    
}

secondtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
}


secondheading {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: .8em;
    
}

p.post{
    padding-left: 10cm;
}


/*Blog HomePage*/

.blogbox {
    position: fixed ;
    left: 20%;
    right: 20%;
    height: 100%;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    width:auto;
    /*overflow: scroll;*/
    
}
.blogintro {
    padding: 30px;
    height: 100%;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    width: 1100px;
    /*overflow: scroll;*/
    
}

.blogintro a:link, a:visited {
    /*font-family: 'Roboto', sans-serif;*/
    font-weight: 800;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.blogintro a:hover {
    color: #2f599b;
}

/*Blog Post*/

.blogboxpage {
    position: fixed ;
    left: 20%;
    right: 20%;
    height: 100%;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    width:auto;
    /*overflow: scroll;*/
    
}
.blogintropage {
    padding: 30px;
    height: 90%;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    width: 1100px;
    overflow: scroll;
}
.blogintropage a:link, a:visited {
    /*font-family: 'Roboto', sans-serif;*/
    font-weight: 800;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.blogintropage a:hover {
    color: #2f599b;
}
pagetitle a:link {
    font-family: 'Rock Salt', sans-serif;
    font-weight: 800;
    font-size: 1.3em;
    text-transform: uppercase;
    padding-bottom: 20px;
    -webkit-transition: all 4s ease ;
    -moz-transition: all 4s ease ;
    -o-transition: all 4s ease ;
    transition: all 4s ease ;    

}

pagetitle a:hover {
    font-size: 1.5em;
   
}

table a:link {
-webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    -o-transition: all 1s ease ;
    transition: all 1s ease ; 
    
}

table a:hover {
    background-color: rgba(47, 89, 155, 0.2);
}
/*Footer*/


/*About Section Social Links*/

/*.social ul {
    color: black;
    padding: 3px;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.5px;
    float: left;
    display: inline;
    list-style-image: none;
}

.social a:link,
a:visited {
    color: black;
    text-decoration: none;
}

.social a:hover {
    color: #2f599b;
    text-decoration: none;
}


Product Gallery Menu

.productmenu {
    color: #2f599b;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.5px;*/
}